body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    padding: 0px 20px;
}

.main {
    padding: 0px 20px;
}

.service {
    padding: 60px 20px 120px 20px;
}

.layout {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 68.2%), url(../images/main_background.png) center, lightgray -3.567px 0px / 100.186% 112.842% no-repeat;
    background-size: cover;
    height: calc(97.8vh);
}


/* ////////Components////// */

.font_14 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font_16 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font_20 {
    color: #091242;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font_32 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.font_48 {
    color: var(--Blue, #0A509B);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.font_80 {
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}



.button {
    color: var(--Blue, #0A509B);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.023%;
    padding: 9px 55px;
    border: none;
    cursor: pointer;
}

/* ////////Header////// */

.header {
    background: rgba(10, 80, 155, 0.90);
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav_bar {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}

.nav_bar:hover {
    opacity: 1;
}

.nav_bar_active {
    opacity: 1;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 64px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header_right__twice {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 4px;
}

/* /////////////Main////////////// */

.main {
    display: flex;
    align-items: center;
    height: calc(90vh);
}

.main_inner {
    width: 100%;
    max-width: 625px;
}

.main_inner__title {
    padding-top: 8px;
}

.main_inner__mini_text {
    padding: 4px 9px;
    background: rgba(4, 28, 55, 0.50);
}

.main_inner__mini_blue {
    width: 4px;
    height: 24px;
    background: var(--Blue, #0A509B);
}

.main_inner__text {
    padding-top: 8px;
    line-height: 130%;
}

.main_inner__button {
    margin-top: 24px;
}

.main_inner__button {
    background-color: #0A509B;
    color: #FFF;
    padding: 19px 70px;
}

/* ///////////Service///////// */

.service {
    background-color: #FFFFFF;
}

.service_title {
    text-align: center;
}

.service_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
}

.service_item {
    width: 345px;
    height: 400px;
    position: relative;
}

.service_item img {
    object-fit: cover;
}

.service_item_title {
    text-align: center;
    position: absolute;
    bottom: 36px;
    right: 0;
    left: 0;
}

.service_award {
    padding-top: 120px;
}

.service_award__title {
    padding-top: 14px;
    color: #1C1F35;
}

.service_award__items {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

.service_award__items_item {
   
    width: 100%;
    /* max-width: 690px; */
    background: #F4F4F4;

}

.service_award__items_item_inner{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 52px 62px;

}

.service_award__items_item__text{
    color: #666C89;
    font-style: italic;
    padding-top: 12px;
}
/* ////////////Mobile/////////// */
@media (max-width: 1480px) {
    .service_items {
        justify-content: center;
    }
}

@media (max-width: 1114px) {
    .service_award__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service_award__items_item{
        margin: 0px 20px;
    }
}


@media (max-width: 1000px) {
    .header_left {
        display: none;
    }

    .header_right {
        display: none;
    }
}


